.hero-img {
  position: absolute;
  right: 40px;
  top: 0px;
  width: 600px;
  height: 670px;
  margin-top: -300px;
}

@media screen and (max-width:1201px) {
  .hero-img {
    margin-top: -160px;
    width: 500px;
    height: 500px;
  }
}

@media screen and (max-width:965px) {
  .hero-img {
    width: 450px;
    height: 450px;
  }
}

@media screen and (max-width:890px) {
  .hero-img {
    margin-top: -100px;
    width: 400px;
    height: 400px;
  }
}

@media screen and (max-width:840px) {
  .hero-img {

    width: 350px;
    height: 400px;
  }
}

@media screen and (max-width:793px) {
  .hero-img {
    width: 300px;
  }
}

@media screen and (max-width:741px) {
  .hero-img {
    width: 200px;
  }
}

@media screen and (max-width:579px) {
  .hero-img {
    display: none;
  }
}